* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background-color: #0c9463;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 300px;
    height: 400px;
    position: relative;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
}

.form input {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    color: white;
    border: none;
    background-color: #363636;
    border-bottom: 2px solid white;
    outline: none;
}

.form label {
    transform: translateY(-50px);
    pointer-events: none;
}

.contentEmail, .contentPass {
    position: absolute;
    top: 25px;
    color: white;
    transition: all 0.3s ease;
}

.form input:focus+.labelEmail .contentEmail, 
.form input:valid+.labelEmail .contentEmail {
    transform: translateY(-100%);
    font-size: 14px;
    color: #0c9463;
}

.form input:focus+.labelPass .contentPass,
.form input:valid+.labelPass .contentPass {
    transform: translateY(-100%);
    font-size: 14px;
    color: #0c9463;
}

button {
    background-color: #0c9463;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    display: flex;
    align-self: center;
    margin-top: 30px;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    transform: translateY(10px);
}
h1 {
    align-self: center;
    color: white;
    margin-bottom: 30px;
}