* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #30475e;
}

.eye {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 1px solid black;
    border-radius: 75% 0;
    overflow: hidden;
}

.pupil {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    border: 15px solid #589167;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eyelid {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

.eyelid span {
    width: 100%;
    height: 15%;
    display: block;
    background-color: #f2a365;
    border-bottom: 2px solid black;
    border-radius: 0 0 60% 60%;
    animation: blink 2s ease infinite;
}

@keyframes blink {
    0% {
        height: 15%;
    }
    30% {
        height: 15%;
    }
    40% {
        height: 100%;
    }
    50% {
        height: 15%;
    }
    60% {
        height: 15%;
    }
    70% {
        height: 100%;
    }
    80% {
        height: 15%;
    }
    100% {
        height: 15%;
    }
}