* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    display: flex;
    height: 100vh;
}

.container {
    margin: auto;
    position: relative;
}

input {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: #dddddd;
    border-radius: 60px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    outline: none;
    transition: all 0.5s ease-in-out; 
}

input:checked {
    background-color: #ffacb7;
}

input::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

input:checked::before {
    left: 100px;
}

.mouth {
    width: 15px;
    height: 10px;
    border-radius: 10px 10px 0 0;
    background-color: black;
    position: absolute;
    top: 55px;
    left: 41px;
    transition: all 0.5s ease;
}

.mouth.happy {
    left: 143px;
    border-radius: 0 0 10px 10px;
}

.eye1, .eye2 {
    width: 8px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 45px;
    left: 25px;
    border-radius: 3px;
    transition: all 0.5s ease;
    transform: rotate(20deg);
}

.eye1::after, .eye2::after {
    content: "";
    width: 8px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 2px;
    left: 1px;
    border-radius: 3px;
    transition: all 0.5s ease;
    transform: rotate(-40deg);
}

.eye2 {
    left: 66px;
    transform: rotate(-20deg);
}

.eye2::after {
    transform: rotate(40deg);
    left: -1px;
}

.eye1.happy, .eye2.happy {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 125px;
}

.eye2.happy {
    left: 170px;
}

.eye1.happy::after, .eye2.happy::after {
    opacity: 0;
}

.tongue {
    height: 4px;
    width: 9px;
    border-radius: 100%;
    background-color: #ffacb7;
    position: absolute;
    top: 5px;
    left: 3px;
    opacity: 0;
    transition: all 0.4s ease;
}

.tongue.happy {
    opacity: 1;
}